/* div principal */
.container_ideias{
    color: var(--color-white);
    padding-top: 14.5rem;
}

.black-ideias{
    background-color: var(--color-black);
}


/* cada divisao das secoes */
.sections {
    width: 100%;
    height: 8.25rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 2rem;
    border-top: 1px var(--color-gray-100) solid;
    
}
.sections p{
    font-size: 20px;
    font-weight: 500;
    line-height: 90%;
    color: var(--color-gray-200);
    transition: color 0.5s ease;

}

.sections a{
    color: var(--color-gray-200);
    transition: color 0.5s ease;
    font-size: 20px;
    font-weight: 500;
}


.sections.active p{
    color: var(--color-gray-700); 
}



.sections.active .options a{
    color: var(--color-white);
}


/* cada div dentro de sections */
.options{
    width: 100%;
    max-width: 28.75rem;
    /* border: 2px blue solid; */
}
.options-list{
    /* border: 1px red solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.option{
    /* border: 1px blue solid; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.option img{
    width: 100%;
    max-width: 8px;
    height: 8px;
    filter: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(500%);
}

.option.white-ideias img{
    filter: brightness(0) saturate(100%) invert(81%) sepia(0%) saturate(500%);
}

.options-list.options p{
    font-family: "neue-haas-grotesk-text";
    font-size: 16px;
    line-height: 120%;

}

.options span {
    margin-right: 10px;
}

/* .sections p{
    padding-bottom: 8px;
} */
.sections p:last-child{
    margin-bottom: 0px;
}

.sections_last{
    border-bottom: 1px var(--color-gray-100) solid;

}


/* section branca  */
.white-ideias{
    background-color: white;
}
.sections.white-ideias {
    border-top: 1px var(--color-gray-900) solid;
    
}
.sections.white-ideias p{
    color: var(--color-gray-800);
}
.sections.white-ideias a{
    color: var(--color-gray-800);
    transition: color 0.5s ease;
}
.sections.white-ideias.active p{
    color: var( --color-gray-1000); 
}
.sections.white-ideias.active .options a{
    color: var(--color-black);
}
.sections_last.white-ideias{
    border-bottom: 1px var(--color-gray-900) solid;

}

/* responsivo medias */

@media(max-width: 1400px) {}

@media(max-width: 1280px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
    .container_ideias{
        padding-top: 10rem;
    }
    .sections{
        height: 6.25rem;
        padding-top: 1.5625rem;
    }
    .sections a{
        font-size: 15px;
    }
    .options-list.options p{
        font-size: 11px;
    }
    .options span {
        margin-right: 5px;
    }
    .option img{
        width: 6px;
        height: 6px;
    }
}

@media(max-width: 768px) {
    .options-list.options p{
        text-indent: -10px;
        white-space: nowrap;
    }
    .options span{
        margin-right: 0.80rem;
    }
}

@media(max-width: 600px) {
    .options-list.options p{
        font-size: 9px;
        text-indent: -10px;
        white-space: nowrap;
    }
    .options{
        width: 100%;
        max-width: 6.25rem;
    }
    .options.opt-number{
        width: 100%;
        max-width: 1.875rem;
    }
    .sections{
        height: 6rem;
        padding-top: 1rem;
    }
    .options span{
        margin-right: 15px;
    }

}

@media(max-width: 480px) {

    .options-list.options p{
        font-size: 8px;
        text-indent: -10px;
    }
    .sections {
        height: 9rem;
        padding-top: 2rem;
        gap: 0.5rem;
    }
    .options span{
        margin-right: 0.9375rem;
    }
    .options.opt-number{
        width: 3.5625rem;
    }
    .options{
        width: 100%;
    }
    .options.text{
        width: 100%;
        max-width: 3.9375rem;
    }
    .sections a{
        font-size: 13px;
    }

}

@media(max-width:370px){
    .option{
        align-items: start;
    }
    .options span{
        margin-right: 0.75rem;
    }
    .options-list {
        padding-left: 0;
    }
    .sections{
        gap: 0.5rem;
    }
    .sections a{
        font-size: 12px;
    }

}


