/* div principal */
.container_ideias{
    color: var(--color-white);
    /* padding-top: 14.5rem; */
    padding-bottom: 200px;
}

.black-ideias{
    background-color: var(--color-bege);
}
.title-ideias{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6.25rem;
    border: none;
}
.title-ideias h1{
    font-size: 15.7vw;
    color: var(--color-white);
    font-weight: 450;
    line-height: 100%;
    letter-spacing: -11px;
    font-family: "neue-haas-grotesk-display"
}

/* cada divisao das secoes */
.sections {
    width: 100%;
    height: 8.25rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 2rem;
    /* border-top: 1px var(--color-gray-700) solid;
     */
}
.sections:nth-child(3){
    border-top: 1px var(--color-gray-700) solid;
}
.sections:nth-child(4){
    border-top: 1px var(--color-gray-700) solid;
}
.sections p{
    font-size: 20px;
    font-weight: 500;
    line-height: 90%;
    color: var(--color-gray-700);
    opacity: 1;
    transition: color 0.5s ease ;

}

.sections a{
    color: var(--color-gray-700);
    transition: color 0.5s ease ;
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
}

.sections h2, .sections h1{
    color: var(--color-gray-700);
    transition: color 0.5s ease ;
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
    font-family: "neue-haas-grotesk-display"
}
.sections h1{
    font-size: 35px;
    transform: translateY(-10%);
}



.sections.active p, .sections.active h1, .sections.active h2{
    /* color: var(--color-gray-700);  */
    /* opacity: 0.1; */
    
    color: var(--color-gray-200);
}




.sections.active .options a{
    /* color: var(--color-white); */
    /* opacity: 0.1; */
    
    color: var(--color-gray-200);
}


/* cada div dentro de sections */
.options-opt-number{
    width: 100%;
    max-width: 50px;
    /* border: 2px blue solid; */
}
.options-text{
    width: 100%;
    max-width: 28.75rem;
}

.options-list{
    /* border: 1px red solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.option{
    /* border: 1px blue solid; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.option img{
    width: 100%;
    max-width: 8px;
    height: 8px;
}



.options-list.options p{
    font-family: "neue-haas-grotesk-text";
    font-size: 16px;
    line-height: 120%;

}

.options span {
    margin-right: 10px;
}

/* .sections p{
    padding-bottom: 8px;
} */
.sections p:last-child{
    margin-bottom: 0px;
}



/* section branca  */
.white-ideias{
    background-color: white;
}
.sections.white-ideias {
    border-top: 1px var(--color-gray-900) solid;
    
}
.sections.white-ideias p{
    /* color: var(--color-gray-800); */
    opacity: 0.5;
    color: rebeccapurple;
}
.sections.white-ideias a{
    /* color: var(--color-gray-800); */
    transition: color 0.5s ease opacity 1s ease;
    color: rebeccapurple;
}
.sections.white-ideias.active p{
    /* color: var( --color-gray-1000);  */
    opacity: 0.5;
    color: rebeccapurple;
}
.sections.white-ideias.active .options a{
    /* color: var(--color-black); */
    color: rebeccapurple;
    opacity: 0.5;
}
.sections_last.white-ideias{
    border-bottom: 1px var(--color-gray-900) solid;

}

/* Mobile */

.capacidades-mobile-container{
    width: 100%;
    display: flex;
    gap: 18px;
}

/* responsivo medias */

@media(max-width: 1366px) {}

@media(max-width: 1280px) {
    .sections h1{
        font-size: 30px;
    }
}

@media(max-width: 1150px) {}

@media(max-width: 991px) {
    .sections{
        height: 6.25rem;
        padding-top: 1.5625rem;
    }
    .options-list.options p{
        font-size: 11px;
    }
    .options span {
        margin-right: 5px;
    }
    .option img{
        width: 6px;
        height: 6px;
    }
  
    .sections h1{
        font-size: 20px;
    }
}

@media(max-width: 800px) {
    .options-list.options p{
        text-indent: -10px;
        white-space: nowrap;
    }
    .options span{
        margin-right: 0.80rem;
    }
    .sections h1{
        font-size: 18px;
    }
    .title-ideias h1{
        font-size: 16.5vw;
    }
}

@media(max-width: 600px) {
    .options-list.options p{
        font-size: 9px;
        text-indent: -10px;
        white-space: nowrap;
    }
    .options{
        width: 100%;
        max-width: 6.25rem;
    }
    .options.opt-number{
        width: 100%;
        max-width: 1.875rem;
    }
    .sections{
        height: 6rem;
        padding-top: 1rem;
    }
    .options span{
        margin-right: 15px;
    }
    .title-ideias h1{
        letter-spacing: -8px;
    }

}

@media(max-width: 480px) {

    .options-list.options p{
        font-size: 8px;
        text-indent: -10px;
    }
    .sections {
        height: auto;
        padding-top: 2rem;
        padding-bottom: 20px;
        gap: 0.5rem;
    }
    .options span{
        margin-right: 0.9375rem;
    }
    .options.opt-number{
        width: 3.5625rem;
    }
    .options{
        width: 100%;
    }
    .options.text{
        width: 100%;
        max-width: 3.9375rem;
    }
    .title-ideias{
        margin-bottom: 50px;
    }
    .title-ideias h1{
        letter-spacing: -2px;
        font-size: 15vw;
    }
    .options-opt-number{
        display: none;
    }
    .options-text{
        width: 100%;
        max-width: 170px;
        white-space: nowrap;
    }
    .options-list{
        gap: 6px;
    }
    .options-list.options:last-child{
        height: 11px;
    }
 
}
@media(max-width:390px){
    .options-text{
        max-width: 150px;
    }
    .sections h1{
        font-size: 16px;
    }
}

@media(max-width:370px){
    .option{
        align-items: start;
    }
    .options span{
        margin-right: 0.75rem;
    }
    .options-list {
        padding-left: 0;
    }
    .sections{
        gap: 0.5rem;
    }
    .sections a{
        font-size: 12px;
    }

}


