.about-us{
    display: flex;
    justify-content: space-between;
    padding-top: 9.1875rem;
    align-items: end;
}
.about-us h1{
    font-family: "neue-haas-grotesk-display";
    font-size: 88px;
    font-weight: 500;
    line-height: 105.6px;
}
.about-us h2{
    font-family: "neue-haas-grotesk-text";
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
    color: var(--color-gray-400);
}
.about-us span{
    font-family: "neue-haas-grotesk-text";
    color: var(--color-gray-100);
 
}
.about-right{
    display: flex;
    text-align: end;
}

.img-about{
    width: 100%;
    height: 447px;
    overflow-y: hidden;
    margin-top: 4.625rem;
}
.img-about img{
    object-position: 50% 27%;
}

.blour-image{
    width: 100%;
    max-width: 100%;
    height: 35.6875rem;
    margin-top: 9.875rem;

}

/* responsivo medias */

@media(max-width: 1400px) {}

@media(max-width: 1280px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
    .about-us h1{
        font-size: 70px;
    }
    .about-us h2{
        font-size: 20px;
    }

}

@media(max-width: 768px) {}

@media(max-width: 600px) {
    .about-us h1{
        line-height: 80px;
    }
    .about-us h2{
        font-size: 18px;
    }
    .about-right {
        padding-top: 15rem;
    }

}

@media(max-width: 480px) {
    .hide-on-mobile{
        display: none;
    }
    .about-us h1{
        line-height: 60px;
        font-size: 50px;
    }
    .img-about{
        height: 31.25rem;
    }

}