.container_ambiente{
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 10.75rem;
}
.container_ambiente.white{
    background-color: var(--color-white);
    color: var(--color-black);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.75rem;
}
.head h1{
    font-family: "neue-haas-grotesk-display";
    font-size: 64px;
    font-weight: 450;
    line-height: 120%;
}
.head img{
    width: 22px;
    height: 22px;
}


.galeria video{
    width:500px;
    height: 800px;
}

/* responsivo medias */

@media(max-width: 1440px) {
    .galeria video{
        width:23.1875rem;
        height: 36.125rem;
    }
  
}

@media(max-width: 1280px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 768px) {}

@media(max-width: 600px) {
    .head h1{
        font-size: 50px;
    }
    .galeria img{
        height: 28rem;
    }
    .container_ambiente .grid-global{
        padding: 0px;
    }
    .container_ambiente .grid-global .head{
        padding: 0px 15px;
    }
}

@media(max-width: 480px) {
    .container_ambiente .grid-global .head{
        padding: 0px 15px;
    }
    .head h1 {
        font-size: 2.5rem;
    }
    .galeria img{
        height: 30rem;
    }
    .container_ambiente .grid-global{
        padding: 0px;
    }
}


