.container_ambiente{
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 10.75rem;
}
.container_ambiente.white{
    background-color: var(--color-white);
    color: var(--color-black);
    padding-top: 10.75rem;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.75rem;
}
.head h1{
    font-family: "neue-haas-grotesk-display";
    font-size: 64px;
    font-weight: 450;
    line-height: 120%;
}
.head img{
    width: 22px;
    height: 22px;
}


.galeria img{
    width:500px;
    height: 800px;
}

@media(max-width: 1440px) {
    .galeria img{
        width:23.1875rem;
        height: 36.125rem;
    }
  
}