@tailwind base;
@tailwind utilities;

.cases-scroll {
    width: 100%;
    height: 100vh;
    margin-top: 11.4375rem;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
.cases-scroll h1 {
    font-size: 96px;
    font-weight: 500;
    line-height: 115.2px;
    vertical-align: middle;
    font-family: "neue-haas-grotesk-display";
    color: var(--color-white);

}

.middle-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.progress-bar{
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 200px;
    right: 0;
    top:340px;
    transform: rotate(90deg);
}



.case-1 {
    width: 100%;
    height: 25rem;
    position: relative;
    margin-bottom: 1em;
    will-change: transform;
    
}

.case-1 img {
    width: 20.6875rem;
    height: 16.25rem;
    border-radius: 4px;

}
.project{
    width: 100%;
    max-width: 20.6875rem;
    color: var(--color-gray-700);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project p{
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    font-family: "neue-haas-grotesk-text";

}
.project-name :nth-child(1){
    color: var(--color-white);
}
.project-name :nth-child(2){
    color: var(--color-gray-700);
}

.overlay-blur{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.overlay-blur img{
    width: 100%;
    height: 20rem;
}
.overlay-blur.bottom{
    bottom: 0px;

}
.overlay-blur.bottom img{
    transform: rotate(180deg);


}
.see-cases{
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 4;
    bottom: 25px;
    justify-content: space-between;
    align-items: center;
   
}
.see-cases .all-cases img{
    width: 100%;
    max-width: 12px;
    height: 12px;

}
.sec-explore{
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.sec-explore img{
    width: 100%;
    max-width: 0.75rem;
    height: 0.75rem;
}
.sec-explore span{
    margin-left: 0.5rem;
}
.all-cases{
    width: 100%;
    max-width: max-content;
    display: flex;
    align-items: center;
    border-bottom: 1px var(--color-white) solid;
    padding-bottom: 5px;
}
.all-cases span{
    margin-left: 0.625rem;
}
.all-cases a{
    font-weight: 450;
    color: var(--color-white);
}
.explore{
    font-weight: 500;
    color: var(--color-gray-700);

}
.explore .p1{
    color: var(--color-white);
}
.see-cases .all-cases{
    border-bottom: 1px var(--color-white) solid;
}

/* Tablet */
.header-tablet{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.75rem;
}
.header-tablet img{
    width: 100%;
    max-width: 0.75rem;
    height: 1rem;
}
.header-tablet h1{
    font-size: 2rem;
    font-weight: 450;
    line-height: 120%;
    font-family: "neue-haas-grotesk-display";
    color: var(--color-white);
}

.projects-tablet{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projectst{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cases-tablet, .case-tablet{
    margin-top: 3.5rem;
}
.case-tablet{
    will-change: transform;
}

.projects-tablet .case-tablet img{
    width: 100%;
    max-width: 20.68rem;
    height: 16.25rem;
    border-radius: 4px;
}
.all-casest{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}





@media(max-width: 1400px) {
    .overlay-blur{
        height: 16rem;
    }
    

}
@media(max-width: 1366px) {
    .overlay-blur{
        height: 7rem;
    }
    .overlay-blur.bottom{
        bottom: 20%;
    }
    

}
@media(max-width: 1280px) {
    .overlay-blur{
        height: 8rem;
    }

}

@media(max-width: 1200px) {
    .cases-scroll h1{
        font-size: 85px;
    }

}

@media(max-width: 991px) {
    .cases-scroll h1{
        font-size: 60px;
    }
    .case-1 img{
        width: 20rem;
        height: 16rem;
    }
    .project{
        max-width: 20rem;
    }
}

@media(max-width: 800px) {
    .project{
        max-width: 20.68rem;
    }
}

@media(max-width: 600px) and (min-width: 481px) {
    .cases-scroll h1{
        font-size: 2.5rem;
    }
    .case-1 img{
        width: 16rem;
        height: 12rem;
    }
    .projects-tablet .case-tablet:nth-of-type(2),
    .projects-tablet .case-tablet:nth-of-type(4){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

}

@media(max-width: 480px) {
    .cases-tablet{
        width: 100%;
    }
    .case-tablet{
        width: 100%;
    }
    .projects-tablet .case-tablet img{
        width: 100%;
        max-width: 100%;
        height: 16.25rem;
    }
    .project{
        max-width: 116.25rem;
    }
    .project p{
        font-size: 0.75rem;
    }
    .see-cases{
        font-size: 0.875rem;
    }
    .all-casest{
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    .all-cases{
        margin-bottom: 3rem;
    }

} 

@media(max-width: 390px){
    .all-casest{
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
}
