.container-destaques {
    width: 100%;
    max-width: 100%;
    margin-top: 10.1875rem;
}


.destaques-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.destaques-text h1 {
    color: var(--color-gray-200);
    font-size: 4rem;
    font-weight: 450;
    line-height: 120%;
    font-family: "neue-haas-grotesk-display"
}

.destaques-text h2 {
    color: var(--color-gray-400);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}
.contact{
    width: 100%;
    max-width: 150px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 0.3125rem;
}
.contact span{
    margin-left: 0.5rem;
}
.contact img{
 width: 0.75rem;
 height: 0.75rem;
}

.destaques-text p {
    font-family: "neue-haas-grotesk-display";
    font-size: 16px;
    font-weight: 450;
    line-height: 100%;
}

.category {
    margin-top: 6rem;
    margin-bottom: 2.1875rem;
    display: flex;
    justify-content: space-between;
}

.category h3 {
    width: 100%;
    max-width: 150px;
    font-family: "neue-haas-grotesk-display";
    font-weight: 500;
    color: var(--color-gray-200);

}

.projects {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.projects .project-row {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    transition: color 0.5s ease, background-color 0.5s ease;
    position: relative;

}

.projects .project-row img {
    /* transition: opacity 0.5s ease;  */
    opacity: 1;
    width: 100%;
    max-width: 223px;
    height: 161px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

}


.projects .project-row:hover {
    color: white;
    background-color: black;

}

/* .project-row:hover img{
    opacity: 1;
  
    
} */

.projects .project-row p {
    width: 100%;
    max-width: 150px;
    font-weight: 500;
    color: var(--color-gray-800);
}
.hide-on-desk{
    display: none;
}

/* responsivo medias */

@media(max-width: 1400px) {}

@media(max-width: 1280px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
    .destaques-text h1 {
        font-size: 3rem;
    }

    .hide-on-mobile {
        display: none;
    }
    .destaques-text {
        gap: 20px;
    }
    .projects .project-row img{
        width: 7.5rem;
        height: 6.25rem;
        left: 23%;
    }
    .projects .project-row p{
        font-size: 14px;
    }

}

@media(max-width: 768px) {}

@media(max-width: 600px) {
    .grid-global{
        padding: 0px 15px;
    }
    .destaques-text h1{
        font-size: 2rem;
    }
    .destaques-text h2 {
        font-size: 14px;
    }
    .destaques-text p {
        font-size: 14px;
    }
    .category h3{
        font-size: 14px;
    }
    .projects .project-row p{
        font-size: 12px;
    }
    .projects .project-row img{
        width: 6rem;
        height: 4.5rem;
        left: 24%;
    }
    .projects .project-row{
        width: 100vw;
        max-width: 100vw;
    }
    .category{
        width: 100vw;
        max-width: 100vw;
    }
}

@media(max-width: 480px) {
    .destaques-text{
        flex-direction: column;
    }
    .projects .project-row img{
        width: 4rem;
    }
    .container-destaques {
        margin-top: 5rem;
    }
    .project-row{
        height: 2rem;
    }
    .projects .project-row p{
        word-wrap: break-word;
    }
    .hide-on-desk{
        display: block;
    }
    .contact{
        width: max-content;
    }
}