 /* Home */
.home {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.home img {
    object-position: 50% 30%;
    z-index: -1;
    position: absolute;
    
}
.container-home{
    width: 100%;
    height: 100vh;
    position: relative;
}


/* Seção do meio da home */
.middle{
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    top: 50%;
    position: absolute;
}
.middle .left_part{
    width: 100%;
    max-width: 7.375rem;
    height: 4.5625rem;
    color: var( --color-gray-500);
}
.top_part p{
    margin-bottom: 28px;
    font-weight: 500;
}

.bottom_part p{
    color: var(--color-white);
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 12px;
    font-weight: 500;
}
.middle .right_part{
    width: 100%;
    max-width: 193px;
    height: 73px;
    color: var(--color-gray-500);
    display: flex;
    flex-direction: column;
    align-items: end;
}


.middle .right_part a{
    color: var(--color-gray-900);
    margin-left: 5px;
}
.right_part .time_text{
    margin-bottom: 28px;
    font-weight: 500;

}
.right_part .time{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.right_part .time p{
    font-weight: 450;

}
 


/* Texto revelatio */
.img_revelatio{
    width: 100%;
    max-width: 120rem;
    height: 11.875rem;
    position: absolute;
    bottom: 0;
    border-top: 1px var(--color-gray-200) solid; 
    padding-top: 40px;
    margin-bottom: 60px;
}



.img_revelatio img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

/* responsivo medias */

@media(max-width: 1400px) {
    .img_revelatio{
        padding-top: 10px;
        margin-bottom: 0px;
    }
}
@media(max-width: 1280px) {
    .middle{
        top: 40%;
    }
}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 768px) {}

@media(max-width: 600px) {

    .middle .left_part p{
        font-size: 14px;
    }
    .middle .right_part p {
        font-size: 14px;
    }
    .top_part p{
        margin-bottom: 15px;
    }
}

@media(max-width: 480px) {
    .home {
        width: 100vw;
        height: 90vh;
    }
    .middle .left_part p{
        font-size: 10px;
    }
    .middle .right_part p {
        font-size: 10px;
    }
   
}


