.container-fund{
    margin-top: 13.3125rem;
    overflow: hidden;
    position: relative;
}
.fund-name{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 91.15vw;
    height: 150px;
    transition: opacity 0.5s ease;
}

.fund-name h2{
   color: var(--color-black);
   font-size: 48px;
   font-weight: 450;
   line-height: 120%;
}

.fund-name p{
    color: var(--color-gray-500);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

}
.fund-name p:first-child{
    padding-bottom: 1.25rem;
}
.fund-img{
    padding-top: 150px;
    width: 100%;
    max-width: 93.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin: 0 auto;
    
}

.founder{
    margin-top:10px ;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.founder p{
    color: var(--color-gray-200);
    font-weight: 400;
    line-height: 120%;
}
.founder span{
    color: var(--color-gray-400);
}
.description{
    text-align: end;
}

.fund-img img{
    width: 329px;
    height: 458px;

}
