.container-cases {
    width: 100%;
    min-height: 100%;
    display: flex;
    /* position: relative; */
}

.side-menu {
    width: 100%;
    max-width: 18.3125rem;
    height: 52.625rem;
    margin-top: 7.875rem;
    position: sticky;
    top: 1.25rem;

}

.side-menu h1 {
    font-size: 20px;
    font-family: "neue-haas-grotesk-display";
    font-weight: 500;
    line-height: 110%;

}

.filtros {
    margin-top: 1.75rem;
}

.filtros li {
    margin-bottom: 1.125rem;
    color: var(--color-gray-500);
    font-size: 1rem;
    font-weight: 500;
    line-height: 110%;
    font-family: "neue-haas-grotesk-display";
    max-width: max-content;
    transition: color 0.5s ease, border 0.5s ease;
    border-bottom: 1px white solid;
}

.filtros li:hover {
    color: var(--color-black);
    border-color: var(--color-black);
    cursor: pointer;

}

.work-together {
    margin-top: 6.25rem;
}

.work-together img {
    width: 100%;
    max-width: 14rem;
    height: 16.25rem;
}

.work-together button {
    margin-top: 1.125rem;
    background-color: var(--color-black);
    color: var(--color-white);
    width: 14rem;
    padding: 12px 0px;
    border-radius: 0.25rem;
}

.bottom-side-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 14rem;
    margin-top: 6.25rem;
}

.bottom-side-menu h2 {
    color: var(--color-gray-700);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    font-family: "neue-haas-grotesk-display"
}

.bottom-side-menu p {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.image-side-menu img {
    width: 100%;
    max-width: 2.6875rem;
    height: 2.9375rem;
}
.espacador{
    height: 100px;
}

/* Parte de cases  */

.all-cases-container {
    width: 100%;
    max-width: 97.9375rem;
    min-height: 100vh;
    margin-top: 2.875rem;
    position: relative;
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de largura igual */
    grid-auto-rows: minmax(400px, auto); /* Linhas com no mínimo 100px, ajustando ao conteúdo */
    grid-auto-flow: row; 
    gap: 1.875rem;
    /* grid-auto-rows: min-content;
    grid-template-rows: auto; */
}

.quadrado-image {
    position: relative;
    will-change: transform;
}


.quadro-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    will-change: transform;
}

.quadro-text p {
    font-size: 14px;
    font-weight: 500;
    line-height: 110%;
    color: var(--color-gray-500)
}

.quadro-text .projeto {
    font-size: 14px;
    font-weight: 500;
    line-height: 110%;
    color: var(--color-gray-100)
}

/* .quadrado-image:nth-child(3n + 1) {
    width: 100%;
    max-width: 20.625rem;
    height: 16.0625rem;
}

.quadrado-image:nth-child(3n + 2) {
    width: 100%;
    max-width: 26.0625rem;
    height: 28.875rem;

}

.quadrado-image:nth-child(3n + 3) {
    width: 100%;
    max-width: 15.1875rem;
    height: 11.4375rem;
    margin-bottom: 2.5rem;
} */



.quadrado-image:nth-child(1){
    width: 100%;
    max-width: 20.625rem;
    height: 16.0625rem;
    top: 10%;
    justify-self: center;
}
.quadrado-image:nth-child(2){
    width: 100%;
    max-width: 27.375rem;
    height: 28.875rem;
    top: 15%;
    right: 5%;
    justify-self: end;
}
.quadrado-image:nth-child(3){
    width: 100%;
    max-width: 15.1875rem;
    height: 11.4375rem;
    top: -15%;
    left: 15%;
    justify-self: center;
}
.quadrado-image:nth-child(4){
    width: 100%;
    max-width: 15.1875rem;
    height: 11.4375rem;
    top: 40%;
    left: 10%;
    justify-self: center;
}
.quadrado-image:nth-child(5){
    width: 100%;
    max-width: 26.0625rem;
    height: 18.0625rem;
    top: 0%;
    justify-self: center;

}
.quadrado-image:nth-child(6){
    width: 100%;
    max-width: 26.125rem;
    height: 25.125rem;
    top: 25%;
    right: 5%;
    justify-self: center;

}
.quadrado-image:nth-child(7){
    width: 100%;
    max-width: 9.6875rem;
    height: 11.4375rem;

}
.quadrado-image:nth-child(8){
    width: 100%;
    max-width: 15.1875rem;
    height: 15.1875rem;
    justify-self: end;
    top: 50%;
    right: 5%;
}

.quadrado-image:nth-child(9){
    width: 100%;
    max-width: 26.0625rem;
    height: 14.0625rem;
    justify-self: center;
    top: -10%;
    left: 0;
}


/* .quadrado-image:last-child{
    top: 0% !important
} */
.change-page{
    position: absolute;
    bottom: 0.625rem;
    gap: 1.25rem;
    display: flex;
}
.change-page img{
    width: 0.625rem;
    height: 0.625rem;
}



/* Mobile */

.menu-mobile {
    display: none;
}

.filtro-mobile {
    display: none;
    position: absolute;
    top: 3.75rem;
    right: 0.9375rem;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-50);
    border-radius: 1.25rem;
}


.filtro-mobile img {
    max-width: 100%;
    width: 1.875rem;
    height: 1.875rem;
}

.menu-mobile {
    display: none;
    width: 40vw;
    height: 100vh;
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    z-index: 5;
    padding: 0px 15px;
}

.head-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.head-menu img {
    width: 100%;
    max-width: 1.25rem;
    height: 1.25rem;
}

.head-menu h1 {
    font-size: 20px;
}

.menu-open-mobile-black {
    display: none;
}

/* responsivo medias */

/* @media(max-width: 1400px) {
    .quadrado-image:nth-child(3n + 2) {
        top: 10%;
        left: 13%;

    }
} */

@media(max-width: 1280px) {
    .quadrado-image:nth-child(3){
        top: 0;
        left: 0;
    }
}

/* @media(max-width: 1200px) {
    .quadrado-image:nth-child(3n + 1) {
        width: 100%;
        max-width: 18.75rem;
        height: 14.1875rem;
    }

    .quadrado-image:nth-child(3n + 2) {
        width: 100%;
        max-width: 21.875rem;
        height: 26.375rem;

    }

    .quadrado-image:nth-child(3n + 3) {
        top: 30%;
        left: 30%;

    }
} */

@media(max-height: 600px){
    .work-together{
        margin-top: 3rem;
    }

}

@media(max-width: 991px) {
    .quadrado-image:nth-child(2){
        right: 0;
    }
    .quadrado-image:nth-child(6){
        right: 0;
    }
    .quadrado-image:nth-child(8){
        right: 0;
    }
}

@media(max-width: 800px) {

    .quadro-text p,
    .quadro-text .projeto {
        font-size: 12px;
    }
    .all-cases-container {
        margin-top: 6rem;
    }

    .side-menu {
        display: none;
    }

    .filtro-mobile {
        display: flex;

    }

    .menu-mobile {
        display: block;
        width: 40vw;
        position: fixed;
    }

    .work-together {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-open-mobile-black {
        width: 100%;
        height: 100%;
        background: rgb(17, 17, 17);
        opacity: 0.7;
        position: fixed;
        inset: 0px;
        z-index: 3;
        display: block;
    }
    .change-page{
        left: 1.875rem;
    }
    .quadrado-image:nth-child(4){
        top: 40%;
        left: 0;
    }
    .quadrado-image:nth-child(3){
        left: 0;
    }
    .quadrado-image:nth-child(6){
        top: 20%;
        height: 20rem;
    }
    .quadrado-image:nth-child(8) {
        top: 50%;
    }

}

@media(max-width: 650px) {
    .all-cases-container {
        margin-top: 6rem;
    }

    .side-menu {
        display: none;
    }
    .quadrado-image:nth-child(2) {
        height: 20.5rem;
    }
    .quadrado-image:nth-child(3){
        top: 10%;
    }
    .quadrado-image:nth-child(6) {
        height: 23rem;
    }
    .quadrado-image:nth-child(7){
        top: 10%;
    }

 

    .menu-mobile {
        display: block;
        width: 40vw;
    }

    .work-together {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-open-mobile-black {
        width: 100%;
        height: 100%;
        background: rgb(17, 17, 17);
        opacity: 0.7;
        position: fixed;
        inset: 0px;
        z-index: 3;
        display: block;
    }
    .change-page{
        right: 1.875rem;
    }

}

@media(max-width: 480px) {
    .menu-mobile {
        width: 70vw;

    }
    .change-page{
        gap: 0.625rem;
    }
    .quadrado-image:nth-child(6){
        height: 20rem;
    }


    
}
@media(max-width: 390px){
    .quadrado-image:nth-child(1){
        height: 13rem;
    }
    .quadrado-image:nth-child(2) {
        top: 30%;
        height: 18rem;
    }
    .quadrado-image:nth-child(4) {
        top: 30%;
    }

    .quadrado-image:nth-child(5) {
        height: 15rem;
    }
    .quadrado-image:nth-child(6) {
        height: 15rem;
        top: 30%;
    }
    .quadrado-image:nth-child(8) {
        height: 11rem;
    }

}