.container-cases{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}
.side-menu{
    width: 100%;
    max-width: 293px;
    height: 842px;
    margin-top: 126px;
   
}
.side-menu h1{
    font-size: 20px;
    font-family: "neue-haas-grotesk-display";
    font-weight: 500;
    line-height: 110%;

}
.filtros{
    margin-top: 28px;
}
.filtros li{
    margin-bottom: 18px;
    color: var(--color-gray-500);
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    font-family: "neue-haas-grotesk-display";
    max-width: max-content;
    transition: color 0.5s ease, border 0.5s ease;
    border-bottom: 1px white solid;
}

.filtros li:hover{
    color: var(--color-black);
    border-color: var(--color-black);
    cursor: pointer;
    
}

.work-together{
    margin-top: 100px;
}

.work-together img{
    width: 100%;
    max-width: 224px;
    height: 260px;
}

.work-together button{
    margin-top: 18px;
    background-color: var(--color-black);
    color: var(--color-white);
    width: 224px;
    padding: 12px 0px;
    border-radius: 4px;
}

.bottom-side-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 224px;
    margin-top: 100px;
}

.bottom-side-menu h2{
    color: var(--color-gray-700);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    font-family: "neue-haas-grotesk-display"
}
.bottom-side-menu p{
    color: var(--color-black);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.image-side-menu img{
    width: 100%;
    max-width: 43px;
    height: 47px;
}

/* Parte de cases  */

.all-cases-container{
    width: 100%;
    max-width: 97.9375rem;
    height: 120%;
    margin-top: 2.875rem;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}
.quadrado-image{
    position: relative;
}


.quadro-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.quadro-text p{
    font-size: 14px;
    font-weight: 500;
    line-height: 110%;
    color: var(--color-gray-500)
}
.quadro-text .projeto {
    font-size: 14px;
    font-weight: 500;
    line-height: 110%;
    color: var(--color-gray-100)
}

.quadrado-image:nth-child(3n + 1){
    width: 100%;
    max-width: 20.625rem;
    height: 16.0625rem;
    top: 20%;
}
.quadrado-image:nth-child(3n + 2){
    width: 100%;
    max-width: 26.0625rem;
    height: 28.875rem;
    top: 10%;
    left: 20%;

}
.quadrado-image:nth-child(3n + 3){
    width: 100%;
    max-width: 15.1875rem;
    height: 11.4375rem;
    top: 30%;
    left: 50%;
    margin-bottom: 2.5rem;
}

/* responsivo medias */

@media(max-width: 1400px) {
    .quadrado-image:nth-child(3n + 2){
        top: 10%;
        left: 13%;
    
    }
}

@media(max-width: 1280px) {
    .quadrado-image:nth-child(3n + 2){
        top: 10%;
        left: 5%;
    
    }
    .quadrado-image:nth-child(3n + 3){
        top: 30%;
        left: 40%;
       
    }
}

@media(max-width: 1200px) {
    .quadrado-image:nth-child(3n + 1){
        width: 100%;
        max-width: 18.75rem;
        height: 14.1875rem;
    }

    .quadrado-image:nth-child(3n + 2){
        width: 100%;
        max-width: 21.875rem;
        height: 26.375rem;
    
    }

    .quadrado-image:nth-child(3n + 3){
        top: 30%;
        left: 30%;
       
    }
}

@media(max-width: 991px) {
    .quadrado-image:nth-child(3n + 2){
        width: 100%;
        max-width: 18.75rem;
        height: 26.375rem;
        top: 10%;
        left: 0%;
       
    }
    .quadrado-image:nth-child(3n + 3){
        top: 30%;
        left: 10%;
       
    }
}

@media(max-width: 768px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {}




