.container-caseunico {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-caseunico h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray-200);
    font-family: "neue-haas-grotesk-display"

}

.title {
    width: 100%;
    margin-top: 8.625rem;
   
}
.title-animation{
    overflow: hidden;
}

.title h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 120%;
    font-family: "neue-haas-grotesk-display"
}

.services {
    display: flex;
    margin-top: 2.4375rem;
    overflow: hidden;
}

.services p {
    color: var(--color-gray-500);
    font-size: 14px;
    font-weight: 450;
    line-height: 110%;
}

.resume {
    display: flex;
    width: 100%;
    justify-content: end;
}

.text-resume {
    width: 50%;
    overflow: hidden;
}

.text-resume p {
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    font-family: "neue-haas-grotesk-text";
    color: var(--color-gray-400);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.word h1{
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}

.image-hero {
    width: 100%;
    height: 45rem;
    margin-top: 2.375rem;
    overflow: hidden;
    border-radius: 8px;
}

.image-hero img {
    object-position: 50% 0%;
    border-radius: 0.5rem;
}

.background {
    width: 100%;
    margin-top: 11.25rem;
}
.background h3{
    overflow: hidden;
}

.back-text {
    width: 50%;
    margin-top: 2rem;
}

.back-text p {
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    font-family: "neue-haas-grotesk-text";
    color: var(--color-gray-400);
}

.group-grid {
    width: 100%;
    display: grid;
    grid-template-areas:
        "item1 item2"
        "item3 item3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.25rem;
    margin-top: 3rem;

}

.item1,
.item2,
.item3 {
    height: 45rem;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.group-grid img {
    border-radius: 0.5rem;
}

.brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.brand-naming,
.brand-posi {
    width: 40%;
    justify-content: start;
    margin-top: 11.25rem;
}

.brand-naming h3,
.brand-posi h3 {
    margin-bottom: 2rem
}

.brand-naming p,
.brand-posi p {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    font-family: "neue-haas-grotesk-text";
    color: var(--color-gray-400);
}

.grupo-image-2,
.group-images-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 3rem;
    overflow: hidden;
    will-change: transform;
   
}
.g2{
    overflow: hidden;
}

.grupo-image-2 img,
.group-images-3 img {
    width: 100%;
    height: 45rem;
    border-radius: 0.5rem;
}

.visual {
    width: 100%;
    margin-top: 11.25rem;
}

.visual p {
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-gray-400);
    font-family: "neue-haas-grotesk-text";
    margin-top: 2rem;
}

.category-about {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 5.1875rem;
}

.cat-abou {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.category-bottom {
    width: 30%;

}

.category-bottom li,
.about-bottom p {
    font-size: 22px;
    font-weight: 400;
    color: var(--color-gray-400);
    line-height: 140%;
    font-family: "neue-haas-grotesk-text";
}

.category-bottom h3 {
    margin-bottom: 2rem;
}

.about-bottom {
    width: 60%;
}

.about-bottom h3 {
    margin-bottom: 2rem;
}

.more-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projects-cases {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12.5rem;
    margin-bottom: 5.125rem;
}

.projects-cases h2 {
    font-size: 64px;
    font-weight: 450;
    line-height: 120%;
    font-family: "neue-haas-grotesk-display"
}

.projects-cases img {
    width: 100%;
    max-width: 1.375rem;
    height: 1.375rem;
}

.all-projects{
    width: 100%;
    margin-bottom: 9.875rem;
}
.all-projects img {
    width: 100%;
    max-width: 26.125rem;
    height: 32.75rem;
    border-radius: 0.5rem;
}

/* responsivo medias */

@media(max-width: 1440px) {}
@media(max-width: 1366px){}

@media(max-width: 1280px) {
    .all-projects img{
        height: 500px;
    }
    .projects-cases{
        margin-bottom: 4.375rem;
    }
}

@media(max-width: 1150px) {
    .text-resume {
        width: 100%;
        margin-top: 4.375rem;
    }
    .back-text {
        width: 80%;
    }
    .item1, .item2, .item3{
        height: 38.75rem;
    }
    .grupo-image-2 img, .group-images-3 img{
        height: 38.75rem;
    }
}

@media(max-width: 991px) {
    .back-text{
        width: 100%;
        margin-top: 1.5625rem;
    }
    .brand{
        flex-direction: column;
        gap: 1.875rem;
    }
    .brand-naming, .brand-posi{
        width: 100%;
        margin-top: 0;
    }
    .brand-naming{
        margin-top: 9.375rem;
    }
  
    .brand-naming h3, .brand-posi h3{
        margin-bottom: 1.5625rem;
    }
    .visual p{
        margin-top: 1.5625rem;
    }
    .cat-abou {
        width: 70%;
    }
    
}

@media(max-width: 800px) {
    .item1, .item2, .item3{
        height: 32.5rem;
    }
    .grupo-image-2 img, .group-images-3 img{
        height: 32.5rem;
    }
    .image-hero{
        height: 32.5rem;
    }
   
    .category-bottom li, .about-bottom p,.visual p,
    .back-text p,.text-resume p
    {
        font-size: 18px;
    }
    .category-bottom h3, .about-bottom h3{
        margin-bottom: 1rem;
    }
}

@media(max-width: 600px) {
    .group-grid{
        gap: 0.625rem;
    }
    .item1, .item2, .item3{
        height: 26.25rem;
    }
    .grupo-image-2 img, .group-images-3 img{
        height: 26.25rem;
    }
    .cat-abou{
        width: 100%;
        flex-direction: column-reverse;
        gap: 1.25rem;
    }
    .about-bottom{
        width: 100%;
    }
    .projects-cases h2{
        font-size: 3.125rem;
    }
}

@media(max-width: 480px) {
    .category-bottom li, .about-bottom p,.visual p,
    .back-text p,.text-resume p
    {
        font-size: 16px;
    }
    .item1, .item2, .item3{
        height: 20rem;
    }
    .grupo-image-2 img, .group-images-3 img{
        height: 20rem;
    }
    .services{
        margin-top: 1rem;
    }
    .text-resume{
        margin-top: 3.125rem;
    }
}
@media(max-width: 390px) {
    .image-hero {
        height: 26.25rem;
    }
    .item1, .item2, .item3{
        height: 16.25rem;
    }
    .grupo-image-2 img, .group-images-3 img{
        height: 16.25rem;
    }
    .projects-cases h2{
        font-size: 1.875rem;
    }
    .all-projects img{
        height: 18.75rem;
    }
}