.container-caseunico{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container-caseunico h2{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray-200);
    font-family: "neue-haas-grotesk-display"
    
}
.title{
    width: 100%;
    margin-top: 138px;
}
.title h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 120%;
    font-family: "neue-haas-grotesk-display"
}
.services{
    display: flex;
    margin-top: 2.4375rem;    
}
.services p{
    color: var(--color-gray-500);
    font-size: 14px;
    font-weight: 450;
    line-height: 110%;
}
.resume{
    display: flex;
    width: 100%;
    justify-content: end;
}
.text-resume{
    width: 50%;
}
.text-resume p{
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    font-family: "neue-haas-grotesk-text";
    color: var(--color-gray-400);
}
.image-hero{
    width: 100%;
    height: 45rem;
    margin-top: 38px;
}
.image-hero img{
    object-position: 50% 0%;
    border-radius: 8px;
}
.background{
    width: 100%;
    margin-top: 11.25rem;
}

.back-text{
    width: 50%;
    margin-top: 32px;
}
.back-text p{
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    font-family: "neue-haas-grotesk-text";
    color: var(--color-gray-400);
}
.group-grid{
    width: 100%;
    display: grid;
    grid-template-areas:
    "item1 item2"
    "item3 item3";
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px;
  margin-top: 3rem;
 
}
.item1,.item2,.item3{
    height: 720px;
}
.item1 {
    grid-area: item1;
  }
  
  .item2 {
    grid-area: item2;
  }
  
  .item3 {
    grid-area: item3;
  }
.group-grid img{
    border-radius: 0.5rem;
}

.brand{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.brand-naming,.brand-posi{
    width: 40%;
    justify-content: start;
    padding-left: 80px;
    margin-top: 180px;
}
.brand-naming h2,.brand-posi h2{
   margin-bottom: 32px
}

.brand-naming p,.brand-posi p{
   font-size: 16px;
   font-weight: 400;
   line-height: 140%;
   font-family: "neue-haas-grotesk-text";
   color: var(--color-gray-400);
}
.grupo-image-2,.group-images-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 48px;
}
.grupo-image-2 img,.group-images-3 img{
    width: 100%;
    height: 720px;
    border-radius: 8px;
}
.visual{
    width: 100%;
    margin-top: 11.25rem;
}
.visual p{
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-gray-400);
    font-family: "neue-haas-grotesk-text";
    margin-top: 2rem;
}
.category-about{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    margin-top: 83px;
}

.cat-abou{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.category-bottom{
    width: 30%;

}
.category-bottom li, .about-bottom p{
    font-size: 22px;
    font-weight: 400;
    color: var(--color-gray-400);
    line-height: 140%;
    font-family: "neue-haas-grotesk-text";
}
.category-bottom h2{
    margin-bottom: 2rem;
}
.about-bottom{
    width: 60%;
}
.about-bottom h2{
    margin-bottom: 2rem;
}

