/* div principal  */
.container-solucoes{
    width: 100%;
    height: 100%;
    position: relative;
}
.herofirst {
    margin-top: 138px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.herofirst h1 , .herosecond h1{
    font-size: 88px;
    font-weight: 450;
    line-height: 100%;
    color: var(--color-white);
    font-family: "neue-haas-grotesk-display"
}

/* texto da esquerda */
.left_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 725px;
    height: 151px;
    
}
.word{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    line-height: 1.2em;
    overflow: visible;
    display: inline-block;
}


/* parte da direita */

.right_part_solucoes {
    width: 100%;
    max-width: 37rem;
    height: 7.5rem;
    color: var(--color-gray-900);
}
.time_text{
    display: flex;
    justify-content: end;
    margin-bottom: 28px;
    opacity: 0.5;
}
.time_text p{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
    line-height: 100%;
    
}

.text-block{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.right_part_solucoes a {
    color: var(--color-gray-500);
    margin-left: 5px;
}

.right_part_solucoes .time {
    display: flex;
    flex-direction: column;
    align-items: end;

}
.right_part_solucoes .time p {
    font-weight: 450;
}

/* borda */
.border-time {
    width: 100%;
    max-width: 542px;
    padding-top: 42px;
    /* border-bottom: 1px var(--color-gray-900) solid; */

}

/* segunda parte */
.herosecond {
    margin: 72px 0px;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.border-solucoes-top{
    border-top: 1px var(--color-gray-900) solid;
    width: 40%;
    position: absolute;
    right: 0;
}
.border-solucoes-bottom{
    border-bottom: 1px var(--color-gray-900) solid;
    width: 40%;
    position: absolute;
    left: 0;

}



/* parte final  */
.herofinal {
    width: 100%;
    max-width: 120rem;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.herofinal .border {
    padding-top: 0px;
    width: 100%;
    max-width: 650px;
}


.texts_studio {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texts_studio h2 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray-600);
    padding-top: 38px;
    padding-bottom: 30px;
    line-height: 100%;
}

.texts_studio p {
    color: var(--color-gray-600);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-family: "neue-haas-grotesk-text";
}

.texts_studio a {
    color: var(--color-white);
    font-weight: 400;
    font-size: 16px;


}
.grid-left{
    height: 11.25rem;
    white-space: nowrap;
}


.seecases{
    width: 100%;
    max-width: max-content;
    display: flex;
    align-items: center;
    border-bottom: 1px var(--color-white) solid;
    margin-top: 66px;
}
.seecases span{
    margin-left: 10px;
}
.seecases img{
    width: 100%;
    max-width: 12px;
    height: 12px;

}

.texts_studio .seecases {
    font-weight: 500;
    margin-left: 0px;
}
.texts_studio .seecases a {
    font-weight: 500;
    margin-left: 0px;
}
.studio_left{
    height: 11.25rem;
}

.studio_left p {
    font-weight: 400;
    line-height: 140%;
    font-family: "neue-haas-grotesk-text"
}

.studio_left .p1 {
    color: var(--color-gray-900);
    font-weight: 400;
    line-height: 140%;

}
.studio_left.studio-res{
    display: none;
}

.studio_img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
}

.studio_img img {
    width: 20.625rem;
    height: 16.125rem;
    border-radius: 0.625rem;

}
.blour{
    position: absolute; 
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    border-radius: 0.625rem;
}

/* responsivo medias */

@media(max-width: 1400px) {
    .herofirst h1{
        font-size: 80px;
    }   
    .herosecond h1{
        font-size: 80px;
    }
    

}

@media(max-width: 1280px) {
    .texts_studio{
        gap: 20px;
    }

}

@media(max-width: 991px) {
       .herosecond{
        margin: 40px 0;
    }
    .herofirst h1{
        font-size: 45px;
    }
    .herosecond h1{
        font-size: 45px;
    }
    .studio_left{
        display: none;
    }
    .studio_left.studio-res{
        display: flex;
        padding-top: 40px;
        flex-direction: column;
    }
}

@media(max-width: 768px) {}

@media(max-width: 600px) {
    .herosecond{
        margin: 20px 0;
    }
    .herofirst h1{
        font-size: 30px;
    }
    .herosecond h1{
        font-size: 30px;
    }
    .texts_studio{
        padding-right: 1.25rem;
    }
}

@media(max-width: 480px) {
    .container-solucoes{
        height: 100%;
    }
    .herofirst{
        margin-top: 6.25rem;
        flex-direction: column;
    }
    .left_text{
        height: 6.25rem;
    }
    .right_part_solucoes .time p{
        font-size: 12px;
    }
    .right_part_solucoes .time h1{
        font-size: 30px;
    }
    .border-solucoes-top, .border-solucoes-bottom{
        width: 50%;
    }
    .herofinal{
        flex-direction: column;
        height: auto;
    }
    .texts_studio .seecases{
        margin-bottom: 1.25rem;
    }
    .blour{
        left: 0;
    }
    .studio_img{
        justify-content: start;
        height: auto;
        margin-top: 50%;
    }
    .right_part_solucoes{
        display: none;
    }
    .border-solucoes-top{
        display: none;
    }
    .border-solucoes-bottom{
        display: none;
    }
    .herofirst h1, .herosecond h1{
        font-size: 36px;
    }
    
}
@media(max-width: 390px){
    .herofinal{
        flex-direction: column;
    }
}
