.herofirst{
    margin-top: 138px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}
.herofirst h1{
    font-size: 88px;
    font-weight: 450;
}
.left_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 725px;
    height: 151px;
}

.right_part_solucoes{
    width: 100%;
    max-width: 592px;
    height: 73px;
    color: var(--color-gray-900);
}


.right_part_solucoes a{
    color: var(--color-gray-500);
    margin-left: 5px;
}
.right_part_solucoes .time{
    display: flex;
    flex-direction: column;
    align-items: end;
    
}
.border{
    width: 100%;
    max-width: 542px;
    padding-top: 42px;
    border-bottom: 1px var(--color-gray-900) solid;

}