:root {
    --navbar-color: var(--color-gray-900);
    /* Cor padrão */
}

/* Nav Bar branca */
.navbar {
    z-index: 5;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    height: 46px;
    align-items: center;
    left: 0;
    color: var(--navbar-color);

}
.navbar-menu{
    z-index: 9;
    color: var(--color-gray-900);
    position: fixed;
    max-width: 116.25rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 30px;

}
.nav-menu{
    cursor: pointer;
}
.en-eua{
    color: var( --color-gray-1000);
}

/* Muda a cor da navbar */

.white {
    --navbar-color: var(--color-gray-900)
}

.black {
    --navbar-color: var(--color-gray-100)
}

.navbar p {
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    gap: 32px;

}

.navbar .logo a {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 100%;
    max-width: 22px;
    height: 22px;
}

.menu-overlay {
    color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
    z-index: 6;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.branding {
    margin-top: 120px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.branding h2 {
    font-family: "neue-haas-grotesk-display";
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
}

.branding .p1 {
    text-align: end;

}

.links-container {
    width: 100%;
    height: 386px;
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;

}

.links-container .links-img {
    height: 386px;
}

.links-container .links-img img {
    width: 579px;
    height: 386px;
    object-position: 50% 25%;

}

.links-container .links-menu {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
 

}

.links-menu .link-menu {
    display: flex;
    align-items: center;
    gap: 22px;
    transition: color 0.5s ease; 
    color: var(--color-gray-600); 
    position: relative;
    height: 100px;
}
.links-menu .link-menu img {
    position: absolute;
    right: 10%;
    width: 52px;
    height: 45px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    transform: translate(-50%, -50%);

}
.links-menu .link-menu:hover{
    color: white;

}
.links-menu .link-menu:hover img{
    opacity: 1;
}

.link-menu, .seta{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.link-menu p {
    font-family: "neue-haas-grotesk-text";
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;

}

.link-menu h1 {
    font-family: "neue-haas-grotesk-display";
    font-size: 88px;
    font-weight: 500;
    line-height: 100%;

}

/* .footer-menu {
    width: 100%;
    height: 100px;
    align-items: end;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%); 
    padding: 0px 30px;

} */

/* Seção do meio da home */
.footer-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    height: 6.25rem;
    align-items: start;
    left: 50%;
    transform: translateX(-50%); 
    padding: 0px 30px;
    bottom: 2rem;
}
.footer-menu .left-part-menu{
    width: 100%;
    max-width: 7.375rem;
    height: 6.25rem;
    color: var( --color-gray-500);
}
.top-part-menu{
    margin-bottom: 1.75rem;
}
.top-part-menu p{
    color: var(--color-white);
    opacity: 0.5;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}
.bottom-part-menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bottom-part-menu a{
    color: var(--color-white);
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
}
.footer-menu .right-part-menu{
    width: 100%;
    max-width: 193px;
    height: 6.25rem;
    color: var(--color-gray-500);
    display: flex;
    flex-direction: column;
    align-items: end;
}


.footer-menu .right-part-menu a{
    color: var(--color-gray-900);
    margin-left: 5px;
}
.right-part-menu .time-text-menu {
    margin-bottom: 1.75rem;
}

.right-part-menu .time-text-menu p{
    color: var(--color-white);
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    font-family: "neue-haas-grotesk-display";
    opacity: 0.5;
}
.right-part-menu .time-menu{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
}
.right-part-menu .time-menu p{
    font-weight: 450;
    line-height: 100%;
    color: var(--color-gray-500);

}

/* responsivo medias */

@media(max-height: 899px){
    .footer-menu{
        display: none;
    }
   
}
@media(max-height: 730px){
    .branding{
        display: none !important
    }
    .links-container{
        margin-top: 0;
        height: 100%;
    }
   
}

@media(max-width: 1440px) {
    .links-container .links-menu{
        padding-left: 1.875rem;
    }
    .links-menu .link-menu{
        margin-left: 1.25rem;
    }
}
@media(max-width: 1366px){
    .link-menu h1 {
        font-size: 80px;
    }
    .branding{
        display: flex;
        margin-top: 80px;
    }
    
    .links-container{
        /* margin-top: 10rem; */
    }
    .footer-menu {
        bottom: 1rem;
        display: none;
    }
}

@media(max-width: 1280px) {
    .links-menu .link-menu {
        height: 5.625rem;
    }
    .branding{
        display: none;
    }
    .links-container{
        height: 100%;
        margin-top: 0;
        gap: 0;
    }
    .links-container .links-menu{
        padding-left: 3.125rem;
    }
    
    
}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
    .links-container .links-img img {
        width: 33.75rem;
    }
    .link-menu h1 {
        font-size: 50px;
    }
    .links-menu .link-menu img{
        right: 0;
        width: 40px;
        height: 32px;
    }
}

@media(max-width: 768px) {}

@media(max-width: 600px) {
    .social-mn .top-part-menu p{
        margin-bottom: 15px;
    }
    .social-mn .top-part-menu p,.social-mn .bottom-part-menu p, .footer-menu .right-part-menu{
        font-size: 14px;
    }

    .right-part-menu .time_text{
        margin-bottom: 10px;
    }

    .links-menu .link-menu {
        height: 4.5rem;
    }
    .links-container .links-img {
        height: 340px;
    }
    .links-menu .link-menu{
        gap: 10px;
    }
    .links-container .links-menu{
        padding-left: 5%;
    }
    .links-menu .link-menu img {
        display: none;
    }
}

@media(max-width: 480px) {
    .pt-br{
        display: none;
    }
    .links-img{
        display: none;
    }
    .amago{
        display: none;
    }
    .links-container .links-menu{
        width: 100%;
        padding-left: 0px;
    }
    .links-menu .link-menu{
        margin-left: 0px;

    }
    
    .navbar-menu{
        padding: 0px 15px;
    }
    .footer-menu .right-part-menu .time_text p{
        font-size: 14px;
    }
    .footer-menu .right-part-menu .time-menu p{
        font-size: 14px;
    }
    .footer-menu{
        align-items: end;
    }
    .img_revelatio{
        margin-bottom: 15px;
    }
}
@media(max-width:360px){
    .footer-menu{
        padding: 0px 15px;
    }
}
@media(max-width:320px){
    .links-container{
        margin-top: 4rem;
    }
}
