:root {
    --navbar-color: var(--color-gray-900); /* Cor padrão */
  }
/* Nav Bar branca */
.navbar{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    height: 46px;
    align-items: center;
    color: var(--navbar-color);
    
}

/* Muda a cor da navbar */

.white{
    --navbar-color: var(--color-gray-900)

}
.black{
    --navbar-color: var(--color-gray-100)

}

.navbar p{
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    gap: 32px;
   
}
.navbar .logo a{
    display: flex;
    align-items: center;
}

.navbar .logo img{
    width: 100%;
    max-width: 22px;
    height: 22px;
}

