.clients-container{
    width: 100%;
    height: 100%;
    margin-top: 10.6875rem;
}
.header-clients{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.header-clients .title-clients h1{
    font-size: 48px;
    font-weight: 450;
    line-height: 120%;
    font-family: "neue-haas-grotesk-display"
}
.header-clients .text-clients p{
    font-size: 16px;
    color: var(--color-gray-500);
    font-weight: 450;
    line-height: 130%;
    font-family: "neue-haas-grotesk-display"
}