.container-principios{
    width: 100%;
    max-width: 100%;
    height: 75rem;
    /* height: 130vh; */
    position: relative;
}
.container-principios .principios{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: flex;
    text-align: center;
}
.container-principios .principios h1{
    font-family: "neue-haas-grotesk-display";
    font-size: 96px;
    font-weight: 450;
    line-height: 100%;

}

.container-principios .prin-1{
    filter: blur(5px);
    position: absolute;
    width: 100%;
    max-width: 26.8125rem;
    height: 24.3125rem;
    /* background-color: var(--color-gray-50); */
    margin-top: 12.1875rem;
    left: 5%;
}
.container-principios .prin-1.sec{
    top: 12.5rem;
    left: 65%;
}
.container-principios .prin-1.third{
    top: 45%;
    left: 20%;
}
.prin-1 img{
    width: 100%;
    max-width: 40px;
    height: 40px;

   
}
.prin-1 .prin{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    padding-top: 19px;
    
}
.prin-1 .prin h2{
    font-family: "neue-haas-grotesk-display";
    font-size: 32px;
    font-weight: 450;
    line-height: 140%;
    
}
.prin-1 .prinText{
    position: absolute;
    bottom: 0;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 34px;
}

.prin-1 .prinText p{
    font-family: "neue-haas-grotesk-text";
    color: var( --color-gray-400);
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

@media(max-width: 1280px) {
    .container-principios .prin-1{
        max-width: 24rem;
        height: 22rem;
    }
    .hide-on-mobile{
        display: none;
    }
}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
    .container-principios .prin-1{
        max-width: 20rem;
        height: 18rem;
    }
    .container-principios .prin-1.sec{
        top: 4rem;
        left: 55%;
    }
}

@media(max-width: 768px) {}

@media(max-width: 600px) {
    .container-principios .principios h1{
        font-size: 60px;
    }
    .container-principios .prin-1{
        max-width: 16rem;
    }
    .prin-1 .prin h2{
        font-size: 28px;
    }
    .prin-1 img{
        max-width: 1.875rem;
        height: 1.875rem;
    }
    .prin-1 .prinText p{
        font-size: 12px;
    }
}

@media(max-width: 480px) {
    .container-principios .prin-1.sec {
        top: 18.5rem;
        left: 40%;
    }
    .container-principios .prin-1.third {
        top: 50%;
        left: 15%;
    }
}

@media(max-width: 360px){
    .container-principios .prin-1.sec{
        left: 25%;
    }
}
