/* Quando estamos na rota 'about' */

.container-about.container-about-ab{
    background-color: var(--color-white);
}
.container-manifesto.container-manifesto-ab{
    justify-content: end;
    margin-right: 75px;
}

.container-about{
    width: 100%;
    background-color: var(--color-bege);
    padding-top: 6.25rem;
    padding-bottom: 11.25rem;
}

.container-manifesto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}
.manifesto{
    position: absolute;
    left: 0;
}
.manifesto h2{
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: var(--color-gray-600);
}
.manifesto-text{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.manifesto-text h1 .word{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}


.container-manifesto .manifesto-text h1{
    color: var(--color-black);
    font-size: 72px;
    font-weight: 450;
    line-height: 100%;
    font-family: "neue-haas-grotesk-display"

}

.squares{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7.1875rem;
    gap: 3.1875rem;
    
}
.square-one, .square-two {
    will-change: transform, opacity;
  }

.square-one p, .square-two p{
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    font-family: "neue-haas-grotesk-text";
}

.square-one, .square-two{
    padding-top: 1.75rem;
    border-top: 1px var(--color-gray-600) solid;
}





/* responsivo medias */

@media(max-width: 1400px) {}
@media(max-width: 1280px) {}

@media(max-width: 1150px) {
    .manifesto h2{
        font-size: 14px;
    }
    .container-manifesto .manifesto-text h1{
        font-size: 65px;
    }
}

@media(max-width: 991px) {
    .manifesto{
        display: none;
    }
    .container-manifesto{
        justify-content: start;
    }
}

@media(max-width: 900px) {
    .squares{
        flex-direction: column;
        width: max-content;
    }
    .square-one{
        margin-bottom: 3.125rem;
    }
    .container-manifesto.container-manifesto-ab{
        justify-content: start;
        margin-right: 0;
    }
    
}

@media(max-width: 600px) {
    .container-manifesto .manifesto-text h1{
        font-size: 50px;
    }
    .square-one p, .square-two p{
        font-size: 16px;
    }
    .squares{
        margin-top: 5rem;
    }
}

@media(max-width: 480px) {
    .container-manifesto .manifesto-text h1{
        font-size: 30px;
    }
    .squares{
        margin-top: 3.75rem;
    }
    .square-one, .square-two{
        padding-top: 16.5008px;
    }
    .square-one{
        margin-bottom: 0;
    }

    .square-one p, .square-two p{
        font-size: 14px;
    }
    .container-about{
        padding-bottom: 4.375rem;
    }
    
}