.sec-equipe{
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    padding-top: 216px;
    position: relative;
}
.equipe ul{
    width: 100%;
}

.equipe ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    transition: border 0.5s ease , color 0.5s ease;
    border-bottom: 1.5px transparent solid;
    color: rgba(0, 0, 0, 0.40);
}

.equipe ul li:hover{
    border-color: var(--color-black);
    cursor: pointer;
    color: black;
}
.equipe-nome{
    width: 100%;
    display: flex;
    justify-content: end;
    
}
.equipe-nome span:nth-child(1){
    width: 20%;
    text-align: start;
}
.equipe-nome span:nth-child(2){
    width: 30%;
    text-align: end;
}
.equipe span{
    font-size: 25.8px;
    font-weight: 450;
    line-height: 85%;
    
}
.medias{
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}


.media-container{
    position: absolute;
    width: 15vw;
    height: 20vw;
    top: 0;
    right: 65%;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
}
.media-container.on {
    visibility: visible;
}

.media-container div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    transform: translate(0, -100%); 
    
}
.media-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 90%) 
}

.mwg_effect030 .medias img { 
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

/* responsivo medias */

@media(max-width: 1400px) {}

@media(max-width: 1280px) {
    .equipe span{
        font-size: 20px;
    }
    .equipe ul li{
        padding: 10px 0px;
    }
}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
    .media-container{
        right: 63%;
    }
    .sec-equipe{
        width: 100%;
        min-height: 100vh;
        margin-top: 200px;
        padding-top: 0px;
        position: relative;
    }
}

@media(max-width: 800px) {
    .media-container{
        width: 18vw;
        height: 26vw;
    }
}

@media(max-width: 600px) {
    .equipe span{
        font-size: 16px;
    }
}

@media(max-width: 480px) {
    .equipe span{
        font-size: 14px;
    }
    .equipe-nome span:nth-child(1){
        width: 30%;
    }
    .media-container{
        right: 65%;
    }
    .sec-equipe {
        margin-top: 100px;
        min-height: 0;
        height: 100%;
        margin-bottom: 100px;
    }
    .equipe-nome span:nth-child(2) {
        width: 35%;
    }
}
@media(max-width: 390px){
   
}