/* container principal */
.container_bottom{
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 12.5rem;
}

/* hero */
.hero_bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* parte esqueda hero */
.left_bottom{
    width: 50%;
}
.hero_bottom span{
    color: var(--color-gray-800);
    font-weight: 500;
}
.adress{
    padding-top: 1.5rem;
    padding-bottom: 5.5625rem;
}
.adress p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: var(--color-gray-600);
}
.left_bottom img{
    width: 16.4375rem;
    height: 11rem;
}

/* parte direita hero  */

.right_bottom{
    width: 40%;
    display: flex;

}
.links{
    padding-top: 2rem;
    width: 100%;
    position: relative;
    
}
.links p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: var(--color-gray-600);
    margin-bottom: 0.625rem;
    transition: color 0.5s ease, border 0.5s ease;
    border-bottom: 1px black solid;
    max-width: max-content;
}

.links p:hover{
    color: var(--color-white);
    border-color: var(--color-white);
}
.social{
    margin-left: 12.8125rem;
}

.revelatio{
    padding-top: 11.1875rem;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-gray-500);
    position: absolute;
}

/* imagem rodapé */

.final{
    width: 100%;
    border-top: 1px var(--color-gray-200) solid;
    padding-top: 2rem;
    margin-top: 5.5rem;
}

@media(max-width: 1280px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
    .right_bottom{
        width: auto;
    }
}

@media(max-width: 768px) {}

@media(max-width: 600px) {
    .container_links{
        padding-left: 3.125rem;
    }
    .social{
        margin-left: 6rem;
    }
    .left_bottom img{
        width: 16rem;
        height: 10rem;
    }
}

@media(max-width: 480px) {
    .adress p{
        font-size: 20px;
    }
    .links p{
        font-size: 20px;
        margin-bottom: 0;
    }
    .container_links {
        padding-left: 1rem;
    }
    .social {
        margin-left: 1rem;
    }

}

@media(max-width: 360px){
    .adress p{
        font-size: 18px;
    }
    .links p{
        font-size: 18px;
    }

}