/* container principal */
.container_bottom{
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 66px;
}

/* hero */
.hero_bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* parte esqueda hero */
.left_bottom{
    width: 50%;
}
.left_bottom .revelatio, .reve-mobile p{
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    color: var(--color-gray-500);
    font-family: "neue-haas-grotesk-display";
    white-space: nowrap;
}
.hero_bottom span{
    color: var(--color-gray-800);
    font-weight: 500;
}
.adress{
    padding-top: 1.5rem;
    padding-bottom: 5.5625rem;
}
.adress p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: var(--color-gray-600);
}
.left_bottom img{
    width: 16.4375rem;
    height: 11rem;
}

/* parte direita hero  */

.right_bottom{
    width: 40%;
    display: flex;

}
.links{
    padding-top: 2rem;
    width: 100%;
    position: relative;
    
}
.links p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: var(--color-gray-600);
    margin-bottom: 0.625rem;
    transition: color 0.5s ease, border 0.5s ease;
    border-bottom: 1px black solid;
    max-width: max-content;
}

.links p:hover{
    color: var(--color-white);
    border-color: var(--color-white);
}
.social{
    margin-left: 12.8125rem;
}

/* imagem rodapé */

.final{
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.25rem;
    padding-bottom: 2.875rem;
    overflow: hidden;
}
.reve-mobile{
    display: none;
}


@media(max-width: 1280px) {}

@media(max-width: 1280px) {
    .final{
        padding-bottom: 30px;
    }
}

@media(max-width: 991px) {
    .right_bottom{
        width: auto;
    }
}

@media(max-width: 768px) {}

@media(max-width: 600px) {
    .container_links{
        padding-left: 3.125rem;
    }
    .social{
        margin-left: 6rem;
    }
    .left_bottom img{
        width: 16rem;
        height: 10rem;
    }
}

@media(max-width: 480px) {
    .adress p{
        font-size: 20px;
    }
    .links p{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .container_links {
        padding-left: 0;
    }
    .social {
        margin-left: 1rem;
    }
    .hero_bottom{
        flex-direction: column;
    }
    .revelatio{
        display: none;
    }
    .adress{
        white-space: nowrap;
    }
    .right_bottom{
        gap: 60px;
    }
    .left_bottom{
        width: 100%;
    }
    .left_bottom span, .hero_bottom span{
        font-size: 16px;
    }
    .adress{
        padding-bottom: 70px;
        padding-top: 2rem;
    }
    .adress p{
        font-size: 24px;
    }
    .reve-mobile{
        margin-top: 57px;
        display: flex;
    }
    .final{
        margin-top: 69px;
    }

}

@media(max-width: 360px){
    .adress p{
        font-size: 18px;
    }
    .links p{
        font-size: 18px;
    }

}