.project-feedback{
    width: 100%;
    height: 39.875rem;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 15.4375rem;
    position: relative;
}

.project-feedback .img-project {
    margin-left: 6.125rem;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    
}
.project-feedback .img-project img{
    position: absolute;
    width: 100%;
    max-width: 32.8rem;
    height: 39.875rem;
    
    
}

.project-feedback .img-project img:first-child{
    z-index: 3;
     
}
.project-feedback .img-project img:nth-child(2){
    z-index: 2;
     
}
.project-feedback .img-project img:nth-child(3){
    z-index: 1;
     
}

.feedback{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.feedback .descri{
    width: 100%;
    max-width: 514px;
    
}


.feedback p{
    font-family: "neue-haas-grotesk-text";
    color: var(--color-gray-200);
    font-size: 22px;
    line-height: 140%;
}

.people-description{
    display: flex;
    margin-bottom: 2rem;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
}
.people-description .people-img{
    width: 100%;
    max-width: 2.375rem;
    height: 2.375rem;
    
}
.people-description .people-img img{
    border-radius: 5px;
    
}

.people-description .people-name{
    margin-left: 1.4375rem;
}
.people-description .people-name p{
    font-family: "neue-haas-grotesk-display";
    font-size: 12px;
    font-weight: 450;
    line-height: 130%;
    color: var(--color-gray-200);
}
.people-description .people-name span{
    color: var( --color-gray-500);
}

.change-slide{
    width: 100%;
    height: 10.75rem;
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content: space-between;
}
.change-slide .bar{
    width: 14.75rem;
}
.change-slide .setas{
    margin-right: 10rem;
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

@media(max-width: 1280px) {
    .project-feedback .img-project{
        margin-left: 0;
    }
    .project-feedback{
        height: 100vh;
    }
}

@media(max-width: 1200px) {}

@media(max-width: 991px) {}

@media(max-width: 768px) {}

@media(max-width: 600px) {}

@media(max-width: 480px) {}

@media(max-width: 360px){}


