.container-timeline{
    margin-top: 13.9375rem;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.container-blour{
  width: 20%;
  height: 200px;
  position: absolute;
  backdrop-filter: blur(2px);
  z-index: 2;
  top: 0;
}
.container-blour.right{
 right: 0;
}

.timeline{
  width: 100%;
  max-width: 100%;
  height: 100px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
}

@keyframes scrollLeft {
  to {
    left: -212px;
  }
}

@keyframes scrollRight {
  to {
    right: -212px;
  }
}
.itemLeft,
.itemRight{ 
  width: 13.25rem;
  height: 5.125rem;
  border-radius: 10px;
  position: absolute;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.itemLeft{
  animation-name: scrollLeft;
  left: max(calc(212px * 10), 100%);
}
.itemRight{
  animation-name: scrollRight;
  right: max(calc(212px * 10), 100%);
}

.item1{
  animation-delay: calc(40s / 10 * (10 - 1) * -1);

}
.item2{
  animation-delay: calc(40s / 10 * (10 - 2) * -1);

}
.item3{
  animation-delay: calc(40s / 10 * (10 - 3) * -1);

}
.item4{
  animation-delay: calc(40s / 10 * (10 - 4) * -1);

}
.item5{
  animation-delay:calc(40s / 10 * (10 - 5) * -1) ;

}
.item6{
  animation-delay:calc(40s / 10 * (10 - 6) * -1) ;

}
.item7{
  animation-delay:calc(40s / 10 * (10 - 7) * -1) ;

}
.item8{
  animation-delay:calc(40s / 10 * (10 - 8) * -1) ;

}
.item9{
  animation-delay:calc(40s / 10 * (10 - 9) * -1) ;

}
.item10{
  animation-delay:calc(40s / 10 * (10 - 10) * -1) ;

}
