* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

.grid-global {
  width: 100%;
  max-width: 116.25rem;
  margin: 0 auto;
  padding: 0px 30px;
  position: relative;
}

:root {
  --color-gray-500: #808080;
  --color-gray-900: #E6E6E6;
  --color-gray-1000: #4C4C4C;
  --color-gray-600: #666666;
  --color-gray-200: #333333;
  --color-gray-100: #191919;
  --color-gray-700: #B3B3B3;
  --color-gray-800: #CCCCCC;
  --color-gray-400: #999999;
  --color-gray-50: #F7F7F7;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-bege: #EEEEEE
}
.target {
  font-kerning: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2 {
  font-family: "neue-haas-grotesk-text";
}

p,
a,
span {
  font-family: "neue-haas-grotesk-display"

}

a {
  cursor: pointer;
}


html,
body {
  /* overflow-x: hidden; */
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  /* -webkit-overflow-scrolling: touch; */
}


html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@media(max-width: 480px) {
  .grid-global {
    width: 100%;
    max-width: 116.25rem;
    margin: 0 auto;
    padding: 0px 15px;
    position: relative;
  }
}