.container-nosso-universo{
    width: 100%;
    height: 100vh;
    background-color: var(--color-bege);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    
}



.container-nosso-universo h1{
    font-size: 3.25rem;
    font-weight: 450;
    font-family: "neue-haas-grotesk-display";
    color: var(--color-black);
    text-align: center;
   
    backface-visibility: hidden;
    transform-style: preserve-3d;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    will-change: font-size;
}

/* responsivo medias */

@media(max-width: 1400px) {}
@media(max-width: 1280px) {}

@media(max-width: 1200px) {}

@media(max-width: 991px) {
    
}

@media(max-width: 800px) {
    .container-nosso-universo h1{
        font-size: 2.5rem;
    }
}

@media(max-width: 600px) {}

@media(max-width: 480px) {
    .container-nosso-universo h1{
        font-size: 7vw;
    }
}
